<div>
    <!-- 1024 Bottom -->
    <div class="bot-1024">
      <!-- image world -->
      <div id="left-img-world">
        <img id="img-world" src="../assets/images/globe.png" alt="Image world">
        <div id="quote">
          <p id="match-logo">The best things in life are</p>
          <p id="shelter-logo">"Rescued"</p>
        </div>
      </div>
    
      <div id="right-function">
        <!-- Top -->
        <div class="top">
          <a id="button-home" routerLink="/Home">
            <img id="button-home-img" src="../assets/images/logo.png" alt="">
            <div id="logo">
              <p id="shelter-logo">Shelter</p>
              <p id="match-logo">match</p>
            </div>
          </a>
        </div>
        <!-- Middle -->
        <div class="middle">
          <p>I am currently</p>
          <img id="middle-img" src="../assets/images/bg1.png" alt="Middle-Image">
        </div>
        <!-- Bottom -->
        <div class="bottom">
          <a id="regist" routerLink="/Regist">
            <div id="regist-img" alt="Regist"></div>
            <p>Giveing a shelter</p>
          </a>
          <a id="search" routerLink="/Search">
            <div id="search-img" alt="Search"></div>
            <p>Looking for a place</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>